body{
    position: relative;
    top:0;
}
/* Primary Css */
:root {
    --main: #FF6D00;
    --secondary: #FCE6D6;
    --white: #ffffff;
  }
  .main-color{
    color:var(--main);
}
.btn-sih{
    background-color: #FF6D00;
    color: #FFFFFF;
    border-radius: 10px;
}
.btn-sih:hover{
    background-color: #fc8931;
    color: #FFFFFF;
    border-radius: 10px;
}
.d-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.d-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}
.border-main{
    border: 1.5px solid var(--main) ;
    border-radius: 10px;
}
/*Ar 3D model*/
model-viewer{width: 400px; height: 500px; margin: 0 auto;}

/* Navbar */

.nav-link{
    color:#000000;
    padding: 1vh;
    margin: 0 1vh 0 1vh;
}
.nav-link:hover{
    color:var(--main);
    padding: 1vh;
}
.nav-link.active{
    background-color:var(--main);
    color: white;
    width: 12vh;
    padding: 1vh;
    border-radius: 10px;
    text-align: center;
}
.dropdown-toggle::after{
    color:var(--main);
    margin: 0 1vh 0 1vh;
} 
.dropdown-menu{
    background: #FFFFFF;
    box-shadow: 0px 0.25px 3px rgb(0 0 0 / 4%), 0px 2.75px 9px rgb(0 0 0 / 19%);
    border-radius: 15px;
}
.dropdown-item:hover{
    background-color:var(--main);
    color: white;
}

/* Hero Section  */

.hero-bg{
    background-image: url("../images/hero-bg.png");
}
@media(max-width:990px){
    .hero-text{
        text-align: center;
    }
    .hero-bg-img{
        width: 100%;
    }
}
@media(max-width:575px){
    #kpi2,#kpi4{
        flex-direction: row-reverse;
    }
    .kpi1-text h4, .kpi1-text p,.kpi3-text h4, .kpi3-text p{
        text-align:right;
    }
}
/* Info */
.description{
    margin: 20px 0px 40px 0px;
}
.div1{
    background-color: #FFFFFF;
}
.div2{
    background-color: #FCE6D6;
}
.button{
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    background-color: #FF6D00;
    border: 2px solid #FF6D00;
    border-radius: 5px;
}
.button:hover{
    background-color: #ff9c50;
    border: 2px solid #ff9c50;
}
.alignLeft{
    align-self: flex-start;
}
.alignRight{
    align-self: flex-end;
}
.imgDiv{
    max-width: 500px;
    width: "35%";
}
.textDiv{
    width: "65%";
    display: flex;
    flex-direction: column;
}
.vector1,.vector2{
    display: flex;
    flex-direction: row;
    width: "100%";
    justify-content: space-between;
    padding: 80px 50px 80px 50px;
}
@media(max-width:860px){
    .vector1{
        flex-direction: column;
    }
    .vector2{
        flex-direction: column-reverse;
    }
}
/* News */
.newsCard{
    background-color: rebeccapurple;
    height: 60vh;
    display: flex;
    justify-content: center;
}
/* Card Section */
#appbody
{
    background-color: #FCE6D6;
    padding: 45px;
}
.heading
{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}
.card
{
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: max-content;
    height: auto;
    margin-bottom: 10px;
    margin: 1vh;
}
.card-img-top{
    background-color: #FFB27D;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    padding: 0;
}
.card-title{
    font-size: 3vh;
}
.tagp
{
    font-size: 1.5vh;
    font-weight: bold;
    float: left;
}
.tagp2
{
    font-size: 1.5vh;
    font-weight: bold;
    float: right;
}
.stepbut
{
    position: relative;
    background-color: white;
    color: black;
    border-radius: 4px;
    width: 32%;
    top: 30px;
    z-index: 1;
    height: 35px;
    /* margin: 1vh; */
    padding: 0.5vh;
    font-size: 21px;
}

.applybut
{
    background-color: #FFB27D;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    height: auto;
    margin: 1vh;
    padding: 1vh;
}
.applybut:hover{
    color: black;
    background-color: #efbb96;
}
.fixapplybut
{
    text-align: right;
}
/* FAQ Section */
            
#Institute,#Product,#Eligibility
{
    display: none;
}
#faq
{
    min-height: 100vh;
    padding: 30px;
}
.faqcontainer
{
    max-height: 500px;
    overflow-y: scroll;
}
#faqmenulinks
{
    padding: 1vh;
}
.bgcolor
{
    background-color: #FCE6D6!important;
}
.parafix
{
    background-color: #fdf3ed!important;
    padding-left: 2cm;
}
.faqcardheading
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.faqmenu
{
    gap: 35px;
    max-width: fit-content;
    background-color: #FCE6D6;
    border-radius: 10px;
    height: auto;
    margin: 1vh;
    padding: 1vh;
    font-weight: bold;
}
#faiconcolorfaqdrop
{
    color: #FFB27D;
    font-size: 30px;
    cursor: pointer;
    /* width: max-content;
    height: auto;
    min-height: 40px;
    padding: 10px; */
}
#faiconcolorfaqdrop:hover
{
    color: #FF6D00;
}
.menuactive
{
    background-color: white;
    border-radius: 10px;
    width: max-content;
    height: auto;
    min-height: 40px;
    padding: 10px;
    cursor: pointer;
}
.normalmenuactive
{
    background-color: white;
    border-radius: 10px;
    width: max-content;
    height: auto;
    min-height: 40px;
    padding: 10px;
    cursor: pointer;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #FFB27D;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
/* button.accordion-button[aria-expanded*=false] {
    color: black;
    background-color: #FFB27D;
}
button.accordion-button[aria-expanded*=true] {
    color: black;
    background-color: white;
} */
.accordion-button:focus {
    border-color: none;
}
/* PDF VIEWER */
#PdfViewer
{
    min-height: 100vh;
    padding: 30px;
    background-color: #FCE6D6;
}
.pdf_iframe
{
    width: 100%;
    height: auto;
    min-height: 90vh;
    border: 0;
    background: transparent!important;
}
/* GOOGLE TRANSLATOR */
/* It May Violate Google Policies So Its Better To Comment The Logo Hiding CSS */
.goog-logo-link {
    display:none !important;
 }
 
 .goog-te-gadget {
    color: transparent !important;
 }
 
 .goog-te-gadget .goog-te-combo {
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    border: transparent;
    padding: 8px;
    color: rgb(0, 0, 0) !important;
 }
 /* .skiptranslate {
    display: none;
} */

/* sidebar */
.sidebarbg
{
    background-color: #ff9c50!important;
    color: black!important;
}
#sidebar
{
    text-decoration: none!important;
}
.sidebaractive
{
    background-color: #FF6D00!important;
    color: white!important;
}
.alinkfix
{
    text-decoration: none!important;
    color: #000000!important;
}

/* Ci Forms  */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #FCE6D6;
  }
  .right{
    position: absolute;
    right:15px;
  }

  /* Forms  */
  @media(max-width:630px) {
    .gender{
        flex-direction: column;
    }
    
  }
  /* Footer */

  #footer
  {
    background-color: #C86D2F;
    color: white;
    /* padding: 2.5vh; */
    font-family: Georgia;
  }
  .footerparahead
  {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .text-muted
  {
    color: lightgray!important;
  }
  .reacticonfix
  {
    font-size: 25px!important;
    justify-content: space-between!important;
  }
  #iconsize
  {
    font-size: 25px!important;
  }
  /* Sidebar  */
  .sidebar{
    background-color: var(--secondary);
    min-height: 100vh;
  }
  .sidebar-card{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--secondary);
  }
  .sidebar-card-inner{
    width: 280px;
  }

  /* About Us(Soumwadeep) */
  .aboutimg
  {
    text-align: end;
    margin-left: 30px;
  }
  .aboutalink
  {
    text-decoration: none;
    color: #C86D2F;
  }