/* Primary Css */
:root {
    --main: #FF6D00;
    --white: #ffffff;
  }

.btn-sih{
    background-color: #FF6D00;
    color: #FFFFFF;
    border-radius: 10px;
}
.btn-sih:hover{
    background-color: #fc8931;
    color: #FFFFFF;
    border-radius: 10px;
}
.d-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.d-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}
/* Navbar */
.main-color{
    color:var(--main);
}
.nav-link{
    color:#000000;
    padding: 1vh;
    margin: 0 1vh 0 1vh;
}
.nav-link:hover{
    color:var(--main);
    padding: 1vh;
}
.nav-link.active{
    background-color:var(--main);
    color: white;
    width: 12vh;
    padding: 1vh;
    border-radius: 18px;
    text-align: center;
}
.dropdown-toggle::after{
    color:var(--main);
    margin: 0 1vh 0 1vh;
} 
.dropdown-menu{
    background: #FFFFFF;
    box-shadow: 0px 0.25px 3px rgb(0 0 0 / 4%), 0px 2.75px 9px rgb(0 0 0 / 19%);
    border-radius: 15px;
}
.dropdown-item:hover{
    background-color:var(--main);
    color: white;
}

/* Hero Section  */

.hero-bg{
    background-image: url("../images/hero-bg.png");
}
@media(max-width:990px){
    .hero-text{
        text-align: center;
    }
    .hero-bg-img{
        width: 100%;
    }
}